@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1,h2,h3
{
    font-family: "Rubik", sans-serif;
    font-weight: 600;
}

p
{
    font-family: "Piazzolla", serif;
    font-size: clamp(0.929rem, 0.929rem + ((1vw - 0.2rem) * 0.856), 1.4rem);
    font-weight: 600;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: sticky;
    top: 0;
    z-index: 1;
    color: #45433a;
    background-color: #fcfbf0;

}

.lesquerdo-header a{
    background-color: #0261dd;
    border-radius: 6px;
    color: #fff;
    padding: 6px 15px;
    text-decoration: none;
}

.lesquerdo-header h1, I{
    color: #fff;
    }

.lesquerdo-header p
{
    padding: 2%;
    border-left: 2px solid gray;
    font-weight: 600;
}

.lesquerdo-header span
{
    color: #004AAD;
}

.home
{
    height: 85vh;
    margin-bottom: 2rem;

}

.txt-home
{
    position: relative;
    top: 30%;
    text-align: center;
    width: 47%;
    padding: 3rem ;
    color: white;
    font-size: 1.3rem;
    border-radius: 12px;
    left: 43%;
    background-color: #00114bc7;

}


.txt-home button
{
    padding: 3.5%;
    width: 50%;
    margin-top: 40px;
    border-radius: 12px;
    background-color: rgba(0, 100, 250, 0.568);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    color: white;
}

.txt-home p
{

    text-align: center;
}

#fundo-home
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.lado-header{
    display: inherit;
    align-items: center;
    gap: 16px;
    width: 50%;
}

.ldireito-header
{
    display: inherit;
    justify-content: flex-end;
}

.ldireito-header a{
    text-decoration: none;
    color: #000000;
}

.texto-meio {
    
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30%;
}

.home h1
{

    color: white;
    font-size: 2.8rem;
    font-weight: 500;
    border-radius: 12px;
    margin-bottom: 30px;
    text-align: center;

    
}

.home p
{
    font-size: 1.7rem ;
}

/*  */
.conteiner-principal{
    background: linear-gradient(45deg, rgba(0,19,69,1) 0%, rgba(0,48,171,1) 100%);
    display: flex;
    flex-direction: column;
    
}

.conteiner-principal h2{
    font-size: 3vw;
    color: rgb(0, 0, 0);
}

.conteiner-principal h3{
    font-size: 2vw;
    color: rgb(0, 0, 0);
}

.conteiner-principal a{
    font-size: 2vw;
    color: rgb(0, 0, 0);
}

.ruan{
    background-color:rgba(0, 0, 0, 0.7);
    border-radius:3cap;
    display: inherit;
    align-items: center;
    justify-content: space-around;
    margin: 1vh;
    padding: 2vw;
}

.Izzi{
    background-color:rgba(0, 0, 0, 0.7);
    border-radius:3cap;
    display: inherit;
    align-items: center;
    justify-content: space-around;
    margin: 1vh;
    padding: 2vw;
}

.Richardy{
    background-color:rgba(0, 0, 0, 0.7);
    border-radius:3cap;
    display: inherit;
    align-items: center;
    justify-content: space-around;
    margin: 1vh;
    padding: 2vw;
}

.caixa-inf-grupo-richardy h2{
    color: white;
}

.caixa-inf-grupo-richardy h3{
    color: white;
}

.caixa-inf-grupo-richardy {
    border: solid 3px rgb(0, 0, 0);
    border-radius: 5%;
    display: flex;
    padding: 10vh;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(45deg, rgb(0, 176, 97) 0%, rgb(0, 81, 255) 100%);
}

.caixa-inf-grupo-richardy a{
    margin: 20px;
    display: flex;
    font-family: Rubik;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 12px;
    padding: 5%;
}

.caixa-inf-grupo-izzi h2{
    color: white;
}

.caixa-inf-grupo-izzi h3{
    color: white;
}

.caixa-inf-grupo-ruan {
    border: solid 3px rgb(0, 0, 0);
    border-radius: 5%;
    display: flex;
    padding: 10vh;
    align-items: center;
    flex-direction: column;
    background:linear-gradient(45deg, rgb(98, 0, 255) 0%, rgb(2, 42, 143) 100%);
}

.caixa-inf-grupo-ruan a{
    margin: 20px;
    display: flex;
    font-family: Rubik;
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    border-radius: 12px;
    padding: 5%;
}

.caixa-inf-grupo-ruan h2{
    color: white;
}

.caixa-inf-grupo-ruan h3{
    color: white;
}

.caixa-inf-grupo-izzi {
    border: solid 3px rgb(0, 0, 0);
    border-radius: 5%;
    display: flex;
    padding: 15vh;
    align-items: center;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    background:linear-gradient(45deg, rgb(255, 157, 0) 0%, rgb(137, 0, 0) 100%);
}

.caixa-inf-grupo-izzi a{
    margin: 20px;
    display: flex;
    font-family: Rubik;
    text-decoration: none;
    background-color: #000000;
    color: #fff;
    border-radius: 12px;
    padding: 5%;
}

.fotogrupo img{
    border: solid 3px rgb(0, 0, 0);
    border-radius: 15px;
    display: inherit;
    justify-content: center;
}

/*  */

/* Footer Parceiros*/
.scroll {
    border-bottom: black solid 2px;
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 15vh;
    display: flex;
    align-items: center;
    margin-top: 1.4rem;
    overflow: hidden;
    }

.item {
    position: absolute;
    left: 100%;
    animation-name: scrollleft;
    animation-duration: 70s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: -35s;
}

.item img{
    display: flex;
    width: 12vw;
    height: 10vh;
    align-items: center;
}

.item1 {
    animation-delay: calc(70s / 8 * (8 - 1) * -1);
}

.item2 {
    animation-delay: calc(70s / 8 * (8 - 2) * -1);
}

.item3 {
    animation-delay: calc(70s / 8 * (8 - 3) * -1);
}

.item4 {
    animation-delay: calc(70s / 8 * (8 - 4) * -1);
}

.item5 {
    animation-delay: calc(70s / 8 * (8 - 5) * -1);
}

.item6 {
    animation-delay: calc(70s / 8 * (8 - 6) * -1);
}

.item7 {
    animation-delay: calc(70s / 8 * (8 - 7) * -1);
}

.item8 {
    animation-delay: calc(70s / 8 * (8 - 8) * -1);
}

@keyframes scrollleft{
    to {
    left: -200px
    }
}

footer h2{
    background-color: black;
    color: white;
    border-top: solid black 3px;
    text-align: center;
    font-size: 2.5em;
    text-align: center;
}

footer h3{
    font-size: 1em;
    text-align: center;
}

.footer-bg h3{
    background-color:#000000;
    color: #45433a;
}
/* Footer Parceiros*/
/* Check */
@Media (min-width: 768px)
{
    .caixa-inf-grupo-izzi{
        padding: 16%;
    }
    .caixa-inf-grupo-izzi h2{
        font-size: 1.5em;
        text-wrap: nowrap;
    }
    .caixa-inf-grupo-ruan a{
        font-size: 1.5em;
        padding: 10%;
    }
    .caixa-inf-grupo-richardy h2{
        font-size: 1.5em;
        text-wrap: nowrap;
    }
    .caixa-inf-grupo-ruan a{
        font-size: 1.5em;
        padding: 10%;
    }
    .caixa-inf-grupo-ruan h2{
        font-size: 1.5em;
        text-wrap: nowrap;
    }
    .caixa-inf-grupo-ruan a{
        font-size: 1.5em;
        padding: 10%;
    }
}
/* Check */

/* Check */
@media (max-width: 992px)
{

    
header h1{
    text-align: center;
    font-size: 2em;
}

.lesquerdo-header a {
    width: 60%;
    padding: 2%;
}

.fotogrupo img{
    width: 70%;
}

}
/* Check */

/* Check */
@media (max-width: 1200px)
{

    .caixa-inf-grupo-izzi{
        padding: 10%;
    }
    .caixa-inf-grupo-ruan a{
        font-size: 1.5em;
        padding: 10%;
    }
    .caixa-inf-grupo-izzi a{
        font-size: 1.5em;
        padding: 10%;
    }
    .caixa-inf-grupo-richardy a{
        font-size: 1.5em;
        padding: 10%;
    }
    }
/* Check */


