@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

h1,h2,h3
{
    font-family: "Rubik", sans-serif;
}

p
{
    font-family: "Piazzolla", serif;
    font-size: clamp(0.929rem, 0.929rem + ((1vw - 0.2rem) * 0.856), 1.4rem);
    font-weight: 500;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: absolute;
    top: 0;
    z-index: 1;
    color: white;
    background-color: rgba(0, 41, 46, 0.651);
}

.home
{
    height: 95vh;
    margin-bottom: 2rem;

}

.txt-home
{
    position: relative;
    top: 30%;
    text-align: center;
    width: 47%;
    padding: 3rem 0;
    color: white;
    font-size: 1.3rem;
    border-radius: 12px;
    left: 43%;

}


.txt-home button
{
    padding: 3.5%;
    width: 50%;
    margin-top: 40px;
    border-radius: 12px;
    background-color: rgba(0, 100, 250, 0.712);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.txt-home p
{

    text-align: center;
}

#fundo-home
{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.lado-header{
    display: inherit;
    align-items: center;
    gap: 16px;
    width: 50%;
}

.ldireito-header
{
    display: inherit;
    justify-content: flex-end;
}

.texto-meio {
    
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30%;
}




.home h1
{

    color: white;
    font-size: 2.8rem;

    border-radius: 12px;
    margin-bottom: 30px;
    text-align: center;

    
}


/* Richardy */

.text-oceano
{
    width: 45%;
}


.line
{
    height: 2px;
    position: absolute;
    left: 0;
    width: 50%;
    background-color: gray;
}

.oceanos-acidos img{
    width: 45%;
    border-radius: 8px;
    height: 50%;
}

.oceanos-acidos {
    display: flex;
    padding: 5% 7%;
    align-items: center;
    justify-content: space-between;
    background-color: #fcfbf0;
}

.text-oceano h3, .text-oceano h2{
    display: inherit;
    width: 75%;
    padding: 2% 0;
    color: #45433a;
    font-weight: 400;
}

.text-oceano h3{
    font-size: 2.5em;
}

.text-oceano p
{
    margin-top: 20px;
    color: #45433a;
}

.text-oceano span
{
    font-weight: bold;
    color: #004AAD;
}


.text-oceano h2 {
    font-size: 1.8em;
    padding-top: 0;
    color: #004AAD;
}

.consequencia-oceano {
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #fcfbf0;
}

#titulo-conse{
    background-color: #fcfbf0;
    align-items: center;
    font-size: 2.5rem;
    padding: 0 7%;
    font-weight: bold;
    color: #004AAD;
}

.consequencia-oceano h2{
    padding: 2%;
    text-align: center;

}

.img-conse
{

    height: 25vh;
    display: inherit;
    justify-content: center;
}

.item-oceano img{
    display: inherit;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 12px;

}

.item-oceano {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 2%;
    background-color: #004AAD;
    border-radius: 12px;
    height: 75vh;
    width: 30%;
    color: white;
}

.item-oceano h3{
    width: 75%;
    align-items: center;
    text-align: center;
}

.sorriso {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(29deg, rgba(97,97,97,1) 0%, rgba(255,255,255,1) 100%);
}

.txt-sorriso {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    width: 50%;
}

.txt-sorriso h2{
    font-size: 2.5em;
    padding-bottom: 10%;
}

.txt-sorriso h3{
    font-size: 1.2em;
    padding-bottom: 10%;
}

.sorriso a{
    font-size: 1.6em;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 5% 25%;
    background: linear-gradient(29deg, rgb(9, 25, 73) 0%, rgb(34, 89, 255) 100%);
    border-radius: 14px;
}

.impacto-aquecimento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5%;
}

.imp-aqueci-txt {
    display: flex;
    flex-direction: column;
    width: 45% ;
    padding: 5%;
    border-right: solid black 3px;
}

.imp-aqueci-txt h3{
    font-size: 1em;
    width: 100% ;
}

.imp-aqueci-txt h2{
    font-size: 1.5em;
    padding-bottom: 5%;
    width: 100% ;
}


.imp-aqueci-txt2 h3{
    padding: 8%;
    font-size: 1.2em;
    width: 60%;
}
.imp-aqueci-txt2 {
    padding-right: 8%;
    width: 70%;
    display: flex;
    flex-direction: row;
}